.w {
    color: #F47983;
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 38.2%;
    transform: translate(-50%,-50%);
    transition-duration: .2s;
}

body{
    background-color: #FCC9B9;
    font-family: "consolas";
 }

